<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">
  
         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>
  
              <!-- lOGO TEXT HERE -->
              <a href="#" class="navbar-brand">Penang Kendo Club</a>
              <img src="assets/img/kendo/PKC_Logo.jpg" style="width: 50px; height: auto;" alt="">
         </div>
  
         <!-- MENU LINKS -->
         <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-nav-first">
                   <li><a href="#top" class="smoothScroll">Home</a></li>
                   <li><a href="#history" class="smoothScroll">History</a></li>
                   <li><a href="#our-instructors" class="smoothScroll">Our Instructors</a></li>
                   <li><a href="#training-schedules" class="smoothScroll">Fee & Schedule</a></li>
                   <li><a href="#faq" class="smoothScroll">FAQ</a></li>
                   <li><a href="#contact" class="smoothScroll">Contact</a></li>
              </ul>
  
              <ul class="nav navbar-nav navbar-right">
                   <li><a href="https://wa.me/60164763391"><i class="fa fa-phone"></i>WhatsApp Us</a></li>
              </ul>
         </div>
  
    </div>
  </section>

<!-- HOME -->
<section id="home">
    <div class="row" style="background-color: white;">
         <div class="item item-first">
              <div class="caption">
                   <div class="container">
                        <div class="col-md-12 col-sm-12">
                             <h1 style="color: black;">Bun Bu Ryou Dou (文武両道)</h1>
                             <h2 style="color: black;">Concurrently Developing Culture and Martial Arts</h2>
                             <h3 style="color: black;">Through the art of Kendo, one not only learns etiquette and manners, but also develop one’s vitality, strength, mind and spirit. These valuable life lessons learnt through Kendo may also be applied to the workplace and the school and enhance our contributions to the society. Kendo is not just about sports, it is about developing both the Body and the Spirit of the Kendo-ka. The Penang Kendo Club has adopted the slogan above to exemplify both the simplicity in our aim as well as the depth of meaning in our pursuit of Kendo mastery.</h3>
                             <!-- <a href="#feature" class="section-btn btn btn-default smoothScroll">Let's chat</a> -->
                             <!-- <a aria-label="Chat on WhatsApp" href="https://wa.me/60164763391"> <img style="width: 40%; height: auto;" alt="Chat on WhatsApp" src="assets/img/whatsapp/WhatsAppButtonGreenMedium.svg" /> -->
                        </div>

                        <div class="col-md-12 col-sm-12">
                             <img src="assets/img/kendo/pkc_cup.jpeg" class="img-responsive" alt="">
                             <br>
                        </div>
                   </div>
              </div>
         </div>
    </div>
</section>

<section id="activities-calendar">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>Activities Calendar (2024)<small></small></h2>
                   </div>
              </div>

              <div class="col-md-12 col-sm-12">
                   <table class="table table-striped table-bordered">
                        <thead>
                          <tr class="danger">
                            <th>Month</th>
                            <th>Event (PKC)</th>
                            <th>Event (MKA)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="warning">
                            <td>JAN</td>
                            <td></td>
                            <td>
                                  Jan 27 (Sat) - MKA Examiner Seminar/ Ai Kendo Dojo
                                  <br>
                                  Jan 28 (Sun)- 1st-4th Dan Grading/ Bangsar Sport Complex
                            </td>
                          </tr>
                          <tr class="info">
                            <td>FEB</td>
                            <td></td>
                            <td>Feb 25 (Sun) - Nitaidai/ TBA</td>
                          </tr>
                          <tr class="warning">
                            <td>MAR</td>
                            <td>9th AGM + Shinnenkai</td>
                            <td></td>
                          </tr>
                          <tr class="info">
                             <td>APR</td>
                             <td></td>
                             <td>KKA Exchange Program @Malaysia/ TBA</td>
                           </tr>
                           <tr class="warning">
                             <td>MAY</td>
                             <td>PKC Cup</td>
                             <td>May 5 - Baginda Cup/ Taman Tun Dr Ismail Community Centre</td>
                           </tr>
                           <tr class="info">
                             <td>JUN</td>
                             <td></td>
                             <td>MKA Examiner Seminar/ Ai Kendo Dojo</td>
                           </tr>
                           <tr class="warning">
                             <td>JUL</td>
                             <td>
                                  Bon Odori
                                  <br>
                                  PKC Kyu Grading
                             </td>
                             <td>Jul 4-7 19th World Kendo Championships/ Milano, Italy</td>
                           </tr>
                           <tr class="info">
                             <td>AUG</td>
                             <td>Kawaguchi Cup</td>
                             <td></td>
                           </tr>
                           <tr class="warning">
                             <td>SEP</td>
                             <td></td>
                             <td>Ambassador Cup/ Bukit Damansara Community Centre</td>
                           </tr>
                           <tr class="info">
                             <td>OCT</td>
                             <td></td>
                             <td></td>
                           </tr>
                           <tr class="warning">
                             <td>NOV</td>
                             <td>Yamazaki Cup</td>
                             <td>
                                  MKA 5th Dan Grading/ Singapore 
                                  <br>
                                  Goodwill
                             </td>
                           </tr>
                           <tr class="info">
                             <td>DEC</td>
                             <td>PKC Kyu Grading</td>
                             <td>Malaysia Cup & MKA Year End Party/ Bukit Bandaraya Community Centre</td>
                           </tr>
                        </tbody>
                      </table>
              </div>
         </div>
         
    </div>
</section>

<section id="history">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>About the Penang Kendo Club <small></small></h2>
                   </div>
              </div>
         </div>

         <div class="row">

              <div class="col-md-8 col-sm-12">
                   <p>The history of the Penang Kendo Club began in early 2005, when a young boy asked our founder Emi Yamazaki if she knew of any Kendo teachers in Penang. Piqued by curiosity and a naïve fascination for Kendo, we began searching for a Kendo teacher.</p>
                   <p>It was then that a chance meeting with a teacher at the Japanese school in Penang led us to Arimatsu Setsuo Sensei, then a police officer holding a 6th dan in Kendo, who was stationed at the Japanese Consulate in Penang. After recruiting enough students and eventually finding a suitable training ground for Kendo, we finally commenced training in July 2005.</p>
                   <p>Today, we are a MKA affiliated Kendo dojo and have trained over 200 students here in Penang. Led by our current head sensei, Kawaguchi Masahiro (7th Dan Kyoshi), we currently have over 50 active practitioners including more than a dozen Dan-level members and the rest holding a rank between 1st kyu and 7th kyu. Whether you are a seasoned kenshi or a complete novice, we welcome you to practice with us!</p>
              </div>

              <div class="col-md-4 col-sm-12">
                   <img src="assets/img/kendo/kendo_2.jpg" class="img-responsive" alt="">
              </div>
         </div>

         <br>
         <br>

         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>About our Club Founder Yamazaki Emi and the story of our founding <small></small></h2>
                   </div>
              </div>
         </div>

         <div class="row">

              <div class="col-md-8 col-sm-12">
                   <p>Born in Tokyo in 1968, Emi had already studied, worked and lived in Japan, US, Singapore, Hong Kong, the UK, China and Kuala Lumpur before finally settling down in Penang with her very young family in 2003.</p>
                   <p>Penang represented a tremendous opportunity for Emi, who loved the idea of starting something cultural and meaningful in rustic, bucolic Penang. Her objective? – to introduce Japanese culture to her own children who would otherwise not have the opportunity to do so living away from Japan. Initially, her intentions were not very altruistic, but as the local Penang people around her started ask her to share more and more about Japanese culture with them, she thought, why not?</p>
                   <p>Enter 2005 a youngster whose name no one ever quite caught… he was a teenager looking to learn kendo and asked Emi over the phone if she could recommend a teacher here. Curious, and seduced by the ‘cool’ image of kendo, Emi started to search for a kendo centre, teachers, practitioners…ANYONE with any kendo experience who was willing to teach. Alas, she found that the last time anyone had picked up a kendo shinai in Penang was 9 years prior! But Emi’s networking brought her to the doorsteps of the Japanese Consulate in Penang where she met Consul Arimatsu Setsuo, a young (30+) 6-dan kendo-ka who was just about to send his whole bougu set back to Japan since there was no kendo activities in Penang. Unfazed, Emi asked if he’d like to teach kendo in Penang… that way, they could set up Penang’s first kendo-club and her 6-year-old son could be member #001, whether or not he wanted to! As luck would have it, he said ‘yes’ and the rest they say, is history!</p>
                   <p>Emi still does not practise kendo herself – she complains it’s too hot to do any sports in Penang. But she loves promoting sports and martial arts and any cultural activity related to Japan and has been awarded a “6-dan in talking” for the amount of explaining and translation she’s had to do for the club! But the founding of the Penang Kendo Club is perhaps one of her proudest and most successful venture, as the club – led by the strong and empathetic leadership of consecutive presidents and the high-level, nurturing skills of our senseis from Japan – has really grown from strength to strength, and almost totally without her!</p>
                   <p>Thanks to a happy confluence of curiosity, blind faith and luck that brought about the formation of Penang Kendo Club, Emi wishes that people will continue to be struck by curiosity for kendo, join the club in blind faith and enjoy all the luck and joys of kendo in Penang, at Penang’s ubiquitous Kendo Club for many, many more years to come!</p>
                   <p>P.S, Life is funny … the kid who asked Emi about kendo never joined the club in the end; Emi’s son who quit after 2 years of constant complaining is now an avid kendo-ka at university in the UK, and soon, we would see a full-circle after 25 years, with the return of the awe-inspiring Arimatsu sensei to join in our current stable of teachers to teach the youngsters of Penang the true joys of Kendo!</p>
              </div>

              <div class="col-md-4 col-sm-12">
                   <img src="assets/img/person/emi-y.jpeg" class="img-responsive" alt="">
              </div>
         </div>
         
    </div>

</section>

<!-- Our Instructors -->
<section id="our-instructors">
    <div class="container">
         <div class="row">
              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>Our Instructors <small></small></h2>
                   </div>
              </div>
         </div>

         <div class="row">
              <div class="col-md-6 col-sm-12">
                   <div class="about-info">
                        <h3>Founder Instructor Arimatsu Setsuo Sensei</h3>

                        <p>Arimatsu Setsuo Sensei (4th person on the second row) currently holds the rank of 7th Dan, Kyoshi. He was born in Japan in 1967, and is currently 57 years old. Arimatsu sensei is presently working as a civil servant in Japan</p>
                        <p>1979 - Began learning Kendo at the age of 12</p>
                        <p>2004 - Transfered to Penang, serving in the Consulate-General of Japan in Penang</p>
                        <p>2005 - Began teaching Kendo in Penang as the head instructor</p>
                        <p>2007 - Completed his service at the Consulate-General and returned to Japan</p>
                        <p>2012 - Achieved 7th Dan in Kendo at the age of 45</p>

                   </div>
              </div>
  
              <div class="col-md-offset-1 col-md-4 col-sm-12">

                   <div class="instructor-image">
                        <img src="assets/img/person/arimatsu-s.jpeg" class="img-responsive" alt="">
                   </div>
              </div>
         </div>
         
         <br>
         <br>

         <div class="row">
  
              <div class="col-md-6 col-sm-12">
                   <div class="about-info">
                        <h3>Head Instructor Kawaguchi Masahiro Sensei</h3>

                        <p>Kawaguchi Masahiro Sensei currently holds the rank of 7th Dan, Kyoshi. He is a native of Kagoshima Prefecture in Japan and is currently 70 years old.</p>
                        <p>1966 Joined the junior high school kendo club</p>
                        <p>1969 Continued kendo in high school</p>
                        <p>1972 Stopped practicing kendo during university</p>
                        <p>1976 Resumed kendo as a working adult</p>
                        <p>1979 Instructed elementary and junior high school students</p>
                        <p>1993 Ended instruction due to job transfer</p>
                        <p>2000 Achieved 7th Dan in kendo at the age of 45</p>
                        <p>2002 Certified as a kendo instructor. Also served as a kendo instructor in the Fukuoka Prefecture Kendo Federation. Promoted to the position of department kendo instructor and participated as an examiner in promotion examinations</p>
                        <p>2015 Arrived in Malaysia under the MM2H programme and began conducting kendo instruction in Penang</p>


                   </div>
              </div>
  
              <div class="col-md-offset-1 col-md-4 col-sm-12">

                   <div class="instructor-image">
                        <img src="assets/img/person/kawaguchi-m.jpeg" class="img-responsive" alt="">
                   </div>
              </div>
  
         </div>
    </div>
  </section>

  <!-- Past Presidents -->
<section id="past-presidents">
    <div class="container">
         <div class="row">
  
              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>Past Presidents <small></small></h2>
                   </div>
              </div>
  
              <div class="col-md-3 col-sm-6">
                   <div class="team-thumb">
                        <div class="team-image">
                             <img src="assets/img/person/dixon-lim.PNG" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                             <h3>Dixon Lim Teik Seng</h3>
                             <span><strong>2005</strong> Pioneer who joined PKC</span>
                             <br>
                             <span><strong>2005 - 2015</strong> PKC Team Captain and President</span>
                             <br>
                             <span><strong>2007 - 2011</strong> 1st PKC member to obtain 1 Dan - 3 Dan</span>
                             <br>
                        </div>
                        <!-- <ul class="social-icon">
                             <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>
                             <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul> -->
                   </div>
              </div>

              <div class="col-md-3 col-sm-6">
                   <div class="team-thumb">
                        <div class="team-image">
                             <img src="assets/img/person/tan-hm.jpeg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                             <h3>Tan Han Min</h3>
                             <span><strong>2010</strong> Joined PKC</span>
                             <br>
                             <span><strong>2012 - 2018</strong> President period</span>
                             <br>
                             <span><strong>Sept 2023</strong> Obtained 4 dan</span>
                             <br>
                        </div>
                        <!-- <ul class="social-icon">
                             <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>
                             <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul> -->
                   </div>
              </div>

              <div class="col-md-3 col-sm-6">
                   <div class="team-thumb">
                        <div class="team-image">
                             <img src="assets/img/person/lau-hh.jpeg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                             <h3>Lau Hean Hooi</h3>
                             <span><strong>2012</strong> Started learning Kendo</span>
                             <br>
                             <span><strong>2013</strong> Joined PKC</span>
                             <br>
                             <span><strong>2017 - 2021</strong> President period</span>
                             <br>
                             <span><strong>Feb 2022</strong> Obtained 4 dan</span>
                             <br>
                        </div>
                        <!-- <ul class="social-icon">
                             <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>
                             <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul> -->
                   </div>
              </div>

              <div class="col-md-3 col-sm-6">
                   <div class="team-thumb">
                        <div class="team-image">
                             <img src="assets/img/person/yann_ni.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                             <h3>Chen Yann Ni</h3>
                             <span><strong>2005</strong> Pioneer who joined PKC</span>
                             <br>
                             <span><strong>2021 - 2024</strong> President period</span>
                             <br>
                             <span><strong>Feb 2022</strong> Obtained 4 dan</span>
                             <br>
                        </div>
                        <!-- <ul class="social-icon">
                             <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>
                             <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul> -->
                   </div>
              </div>
              
         </div>
    </div>
  </section>

  <section id="Committee">
     <div class="container">
          <div class="row">
 
               <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h2>Office Bearers & Organization Chart<small></small></h2>
                    </div>
               </div>
          </div>
          
          <div class="row">
               <div class="col-md-6 col-sm-12">
                    <p>President: Chen Yann Ni</p>
                    <p>Vice President: Teh Kheng Kee</p>
                    <p>Secretary: Low Chong Boon</p>
                    <p>Treasurer: Chew Yeong Tai</p>
                    <p>Assistant Treasurer: Michelle Lim Yuik Yi</p>
               </div>

               <div class="col-md-6 col-sm-12">
                    <p>Committee 1: Ng Kai Hsiang</p>
                    <p>Committee 2: Kok Mun Chin</p>
                    <p>Committee 3: Goh Ching Keng</p>
                    <p>Committee 4: Martin Bong Zhen Kai</p>
                    <p>Committee 5: Ooi Wei Nien</p>
               </div>
          </div>

          <br>

          <div class="row">
               <div class="col-md-12 col-sm-12">
                    <img style="border: 2px solid black;" src="assets/img/kendo/org_chart.png" class="img-responsive" alt="">
               </div>
          </div>
          
     </div>
 </section>

  <section id="what-is-kendo">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>WHAT IS KENDO? <small></small></h2>
                   </div>
              </div>
         </div>

         <div class="row">

              <div class="col-md-7 col-sm-12">
                   <h3 style="color: red;">THE WAY OF THE SWORD</h3>
                   <p>Kendo (剣道) is a modern Japanese martial art, which descended from traditional Samurai swordsmanship (kenjutsu), and uses bamboo swords (shinai) and protective armour (bōgu). Today, it is widely practiced within Japan and many other nations across the world.</p>
              </div>

              <div class="col-md-5 col-sm-12">
                   <img src="assets/img/kendo/kaida_sensei.jpg" class="img-responsive" alt="">
              </div>
         </div>

         <br>
         <br>

         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>Why Learn Kendo? <small></small></h2>
                   </div>
              </div>
         </div>

         <div class="row">

              <div class="col-md-5 col-sm-12">
                   <img src="assets/img/kendo/kata.jpg" class="img-responsive" alt="">
              </div>

              <div class="col-md-7 col-sm-12">
                   <p>Come join us on a journey along the Way of the Sword!</p>
                   <p>We train our body and mental state of our mind and learn samurai swordsmanship. What a great benefit!</p>
                   <p>Kendo does not require big muscles. It does not matter if you are small, tall, big or small. Size does not matter!</p>
                   <p>Learn samurai philosophies and apply them to succeed in life!</p>
              </div>
         </div>

         <br>

         <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h2>How To Join Us? <small></small></h2>
               </div>

               <div class="col-md-12 col-sm-12">
                    <p>Please follow the following procedure to join our club.</p>
                    <ol>
                    <li>If you are a complete novice and just want to try out or satisfy your curiosity, you can opt to contact us for a free tryout to get a feel for what kendo is like. No obligations at this point.</li>
                    <li>Once you are certain you want to commit at least 6 months of your time, please click on the following <a href="https://docs.google.com/forms/d/1rn4rpTAZjDQKRz8ulljpEcmG-jbE4xP8O0oL1xoDB8k" style="color: blue;">link</a> and fill up the form. Done!</li>
                    <li>Remember to download and read our PKC <a href="assets/pdf/pkc-membership-booklet-2024.pdf" style="color: blue;">handbook</a></li>
                    <li>Note: If you already have kendo experience please indicate it in the form and supply any relevant evidence the committee members may request for to complete the registration.</li>
                    </ol>   
               </div>
          </div>
         
    </div>
</section>

<section id="training-schedules">
     <div class="container">
          <div class="row">
 
               <div class="col-md-12 col-sm-12">
                    <!-- <div class="section-title"> -->
                         <h2>Training Schedule<small></small></h2>
                    <!-- </div> -->
               </div>

               <br>

               <div class="row">
                    <div class="col-md-12 col-sm-12" style="margin-left: 15px;">
                         <p><strong>Note to all visitors: due to unforeseen circumstances, our training locations/times may occasionally change without notice. If you planning on visiting us, we recommend you contact us ahead of time to let us know when to expect you.</strong></p>
                    </div>
               </div>
 
               <div class="row" style="margin-left: 15px;">

                    <div class="col-md-5 col-sm-12">
                         <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.055992998483!2d100.31609731486445!3d5.408442996077318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac3c7a560d8fd%3A0x3e5788a22659ca05!2sSekolah%20Jepun%20Pulau%20Pinang!5e0!3m2!1sen!2smy!4v1677591486656!5m2!1sen!2smy" frameborder="0" allowfullscreen></iframe>
                    </div>
      
                    <div class="col-md-7 col-sm-12">
                         <p><strong>Saturday</strong></p>
                         <p>Time: 3:00 PM to 5:00 PM</p>
                         <p>Venue: Penang Japanese School, Jalan Sg. Pinang</p>
                    </div>
               </div>

               <br>

               <div class="row" style="margin-left: 15px;">

                    <div class="col-md-5 col-sm-12">
                         <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.7795634333197!2d100.30393821486463!3d5.450396996047296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac31fc10cce7d%3A0xe179ce2079ace5c6!2sCentrestage%20Academy%20Of%20Performing%20Arts!5e0!3m2!1sen!2smy!4v1677591409932!5m2!1sen!2smy" frameborder="0" allowfullscreen></iframe>
                    </div>
      
                    <div class="col-md-7 col-sm-12">
                         <p><strong>Sunday</strong></p>
                         <p>Time: 3:30 PM to 5:30 PM</p>
                         <p>Venue: Centrestage Academy, 3rd floor, Island 88</p>
                    </div>
               </div>
          </div>
          
     </div>
 </section>

 <section id="training-fees">
     <div class="container">
          <div class="row">
 
               <div class="col-md-12 col-sm-12">
                    <!-- <div class="section-title"> -->
                         <h2>Training Fees<small></small></h2>
                    <!-- </div> -->
               </div>

               <div class="row">
                    <div class="col-md-10 col-sm-12" style="margin-left: 15px;">
                         <p>Our fees are as follows:</p>

                         <h3>Package A- 6 months membership fee</h3>
                         <p>Attend ONLY one kendo class per week (either Saturday or Sunday):</p>
                         <ul>
                         <li>RM180 for kids 12 years old and below</li>
                         <li>RM240 for teenagers 20 years old and below</li> 
                         <li>RM300 for Adults above 20 years old</li>
                         </ul>

                         <h3>Package B- 6 months membership fee</h3>
                         <p>Attend both Saturday and Sunday kendo classes every week:</p>

                         <ul>
                         <li>RM235 for kids 12 years old and below</li>
                         <li>RM315 for teenagers 20 years old and below</li> 
                         <li>RM390 for Adults above 20 years old</li>
                         </ul>

                         <p>Take note that a one-time new member registration fee of RM20 applies for both packages.</p>

                         <p>
                         If you are a visiting Kendoka on an extended stay in Penang, you can apply for a pro-rated package (minimum 3 months) subject to a 1-time RM20 registration fee.
                         </p>
                    </div>
               </div>
          </div>
          
     </div>
 </section>

<section id="past-events">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>Our Past Events<small></small></h2>
                   </div>
              </div>

              <div class="col-md-12 col-sm-12">
                   <table class="table table-striped table-bordered">
                        <thead>
                          <tr class="danger">
                            <th>Date</th>
                            <th>Events held at Penang</th>
                            <th>Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="warning">
                            <td>23-25 Aug 2013</td>
                            <td>10th ASEAN Kendo Tournament & Kendo Dan Grading</td>
                            <td>PKC co-organized the Asean yearly event at USM Sports Complex</td>
                          </tr>
                          <tr class="info">
                            <td>22 & 23 Feb 2014</td>
                            <td>Penang Kendo Club Northern Region Seminar and Kyu Level Grading</td>
                            <td>2 days co-event with MKA at YMCA</td>
                          </tr>
                          <tr class="warning">
                            <td>29 Aug 2015</td>
                            <td><a href="https://www.facebook.com/photo/?fbid=10153091615567308&set=a.10151795481382308" style="color: blue;">2nd Japanese Ambassador Cup</a></td>
                            <td>The Japanese Ambassador’s Cup is a national level Kendo team tournament co-organized by the Malaysia Kendo Association and the Japanese Embassy in Malaysia. The event was held at the Penang Japanese School</td>
                          </tr>
                          <tr class="info">
                             <td>11 Mar 2018</td>
                             <td>
                                <a href="https://www.facebook.com/photo/?fbid=10155371812807308&set=a.10151795481382308" style="color: blue;">Kaida Sensei Keikokai 1</a>
                                <br>
                                <a href="https://www.facebook.com/photo?fbid=10155372809867308&set=pcb.10155372809952308" style="color: blue;">Kaida Sensei Keikokai 2</a>
                             </td>
                             <td>On the 10th of March 2018, Kaida Akira Sensei, 8th dan Hanshi, visited Penang with a delegation of kenshi from his native Kagoshima Prefecture. This was sensei's 3rd visit to Penang. This year, a seminar was held at the Uplands School's sports hall and was participated by kenshi from all over Malaysia. It was an enjoyable and educational experience, and we all benefitted from Kaida sensei's instruction.</td>
                           </tr>
                           <tr class="warning">
                             <td>18 Aug 2018</td>
                             <td>Kendo Festival - 5th Japanese Ambassador cup</td>
                             <td>The event was held at the USM Sports Complex (Pusat Sukan USM) marks the 5th edition of the tournament. </td>
                           </tr>
                        </tbody>
                      </table>
              </div>

              <div class="col-md-12 col-sm-12">
                    <ng-image-slider [images]="imgCollection" #nav 
                    [infinite]="true" [animationSpeed]="0.5" 
                    [imageSize]="{width: '40%', height: '25%', space: 10}" 
                    [manageImageRatio]="true" [autoSlide]="5"
                    [lazyLoading]="true"></ng-image-slider>
              </div>
         </div>
    </div>
</section>

<section id="hall-of-fame">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>Hall Of Fame<small></small></h2>
                   </div>
              </div>

              <div class="col-md-12 col-sm-12">
                   <table class="table table-striped table-bordered">
                        <thead>
                          <tr class="danger">
                            <th>Events</th>
                            <th>Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="warning">
                            <td>Malaysia Kendo Open  (20 Dec 2014)</td>
                            <td>
                                Low Chong Boon: 1st Place (Team Event) and Fighting Spirit Award
                                <br>
                                Bae Sang Uk: 2nd Runner-up (Team Event)
                            </td>
                          </tr>
                          <tr class="info">
                            <td>The Japanese Ambassador Cup 2014 & 2016</td>
                            <td>Penang Kendo Club’s team winning 2nd runner up in Ambassador Cup 2014 & 2016 respectively</td>
                          </tr>
                          <tr class="warning">
                            <td>The Japanese Ambassador Cup 2018</td>
                            <td>1st  Runner up</td>
                          </tr>
                          <tr class="info">
                            <td>The Japanese Ambassador Cup 2023</td>
                            <td>2nd Runner up</td>
                          </tr>
                        </tbody>
                      </table>
              </div>
         </div>
         
    </div>
</section>

<section id="faq">
     <div class="container">
          <div class="row">
 
               <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                         <h2>Frequently Asked Questions<small></small></h2>
                    </div>
               </div>
 
               <div class="col-md-12 col-sm-12">
                    <p>
                         <b>
                         Q: I'm an absolute beginner. What do I need to do? How do I join your club?
                         </b>
                    </p>
                    <p>
                         A: Contact our club via Facebook or email to let us know when to expect you. Don't worry about equipment or uniforms yet. For beginners, we encourage you to try out during our Saturday training sessions. Make sure you wear comfy attire suitable for exercise. When you are ready to commit at least 6 months of your time, please visit this  <a href="https://docs.google.com/forms/d/1rn4rpTAZjDQKRz8ulljpEcmG-jbE4xP8O0oL1xoDB8k">link</a> to fill up the form.
                    </p>
                         
                    <p>
                         <b>
                         Q: When is the next enrollment of the kendo class?
                         </b></p>
                    <p>
                    A: We don't have fixed intakes. You can sign up any time. Fees will be pro-rated accordingly per our Treasurer's guidance.
                    </p>
                         
                    <p>
                         <b>
                         Q: Do you provide private one-on-one classes or online video learning?
                         </b>
                    </p>
                    <p>
                    A: NO.
                    </p>
                         
                    <p>
                         <b>
                         Q: Is there a lower or upper age limit or physical requirement to join?
                         </b>
                    </p>
                    <p>
                    A: Young children should at least be 5 years old and physically be able to hold a children's shinai and pay attention to the instructor. If you are not sure of your child's ability to follow the lessons, you can opt to let them try first to see if they like it. If you are an adult learner, the only limitation is your physical ability. Let us know if you have any pre-existing medical conditions we should be aware of. 
                    </p>
                         
                         
                    <p>
                         <b>
                         Q: How much are your fees? What is your training schedule? Where do you train?
                         </b>
                    </p>
                    <p>
                    A: Refer to <a href="Training-Fee-Schedule.html">Training and Fee Schedule</a>
                    </p>
                         
                    <p>
                         <b>
                         Q: Do you sell kendo equipment? Can I order through you?
                         </b>
                    </p>
                    <p>
                    A: We maintain a small inventory of bulk purchased kendo related equipment and uniforms for sale to our members at a reasonable price. For basic needs you should be covered.
                    </p>
                         
                    <p>
                         <b>
                         Q: I'm a kendo practicioner passing by Penang. Can I drop by to train with you for a while? 
                         </b>
                    </p>
                         
                    <p>
                    A: Absolutely yes! Contact our club via Facebook or email to let us know when to expect you. If you are traveling light, let us know ahead of time if you need loaner equipment and/or uniforms.
                    </p>
                         
                    <p>
                         <b>
                         Q: Are you guys legit?
                         </b>
                    </p>
                         
                    <p>
                    A: Yes. We are affiliated to the national governing body of Kendo in Malaysia, which is the Malaysia Kendo Association. Any grades or certifications you obtained while training and grading here is valid and recognized in Malaysia, and is also reported to the international governing body of Kendo (FIK). 
                    </p>
                         
                    <p>
                         <b>
                         Q: Wow kendo looks cool! Can you do some kind of demo for an event I'm organizing? I'm willing to pay an appearance fee or return the favour in some way.
                         </b>
                    </p>
                         
                    <p>
                    A: This is possible provided the request is reasonable and we have volunteers from our club who can commit their time. We don't mind having extra publicity for Kendo. To discuss details, please contact us via an official email. 
                    </p>
                         
                         <p><b>
                         Q: 初めまして、暫くペナンに滞在することになりました。PKCの稽古に参加したいんですが英語に自信を持っていなくてちょっと不安です。
                         </b></p>
                         
                    <p>
                    A: 本道場では日本語が通じるのでご安心ください。 
                    </p>
               </div>
          </div>
          
     </div>
 </section>

<!-- CONTACT -->
<section id="contact">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-12">
                   <form id="contact-form" role="form" action="" method="post">
                        <div class="section-title">
                             <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                        </div>

                        <div class="col-md-12 col-sm-12">
                             <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">
              
                             <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                             <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                        </div>

                        <div class="col-md-4 col-sm-12">
                             <input type="submit" class="form-control" name="send message" value="Send Message">
                        </div>

                   </form>
              </div>

              <div class="col-md-6 col-sm-12">
                   <div class="contact-image">
                        <img src="assets/img/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                   </div>
              </div>

         </div>
    </div>
</section>

<!-- FOOTER -->
<footer id="footer">
    <div class="container">
         <div class="row">
  
              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Headquarter</h2>
                        </div>
                        <address>
                             <p>1800 dapibus a tortor pretium,<br> Integer nisl dui, ABC 12000</p>
                        </address>
  
                        <ul class="social-icon">
                             <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>
                             <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
  
                        <div class="copyright-text"> 
                             <p>Copyright &copy; 2018 Company</p>
                             <p>Design: <a rel="nofollow" href="http://templatemo.com" title="html5 templates" target="_parent">Template Mo</a></p>
                             <p>Distribution: <a href="https://themewagon.com/">ThemeWagon</a></p>
                        </div>
                   </div>
              </div>
  
              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Contact Info</h2>
                        </div>
                        <address>
                             <p>+65 2244 1100, +66 1800 1100</p>
                             <p><a href="mailto:youremail.com">hello@youremail.co</a></p>
                        </address>
  
                        <div class="footer_menu">
                             <h2>Quick Links</h2>
                             <ul>
                                  <li><a href="#">Career</a></li>
                                  <li><a href="#">Investor</a></li>
                                  <li><a href="#">Terms & Conditions</a></li>
                                  <li><a href="#">Refund Policy</a></li>
                             </ul>
                        </div>
                   </div>
              </div>
  
              <div class="col-md-4 col-sm-12">
                   <div class="footer-info newsletter-form">
                        <div class="section-title">
                             <h2>Newsletter Signup</h2>
                        </div>
                        <div>
                             <div class="form-group">
                                  <form action="#" method="get">
                                       <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                       <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                  </form>
                                  <span><sup>*</sup> Please note - we do not spam your email.</span>
                             </div>
                        </div>
                   </div>
              </div>
              
         </div>
    </div>
  </footer>