<!-- ======= Book A Table Section ======= -->
<!-- <section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
        <h2>Book A Table</h2>
        <p>Book <span>Your Stay</span> With Us</p>
        </div>

        <div class="row g-0">

        <div class="col-lg-4 reservation-img" style="background-image: url(assets/img/reservation.jpg);" data-aos="zoom-out" data-aos-delay="200"></div>

        <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
            <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                <div class="validate"></div>
                </div>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                <div class="validate"></div>
            </div>
            <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Book a Table</button></div>
            </form>
        </div>

        </div>

    </div>
</section> -->
<!-- End Book A Table Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
        <h2>gallery</h2>
        <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/kendo/2018_Ambassador_Cup/DSC_0172.JPG"><img src="assets/img/kendo/2018_Ambassador_Cup/DSC_0172.JPG" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/kendo/2018_Ambassador_Cup/DSC_0173.JPG"><img src="assets/img/kendo/2018_Ambassador_Cup/DSC_0173.JPG" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/kendo/2018_Ambassador_Cup/DSC_0174.JPG"><img src="assets/img/kendo/2018_Ambassador_Cup/DSC_0174.JPG" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/kendo/2018_Ambassador_Cup/DSC_0175.JPG"><img src="assets/img/kendo/2018_Ambassador_Cup/DSC_0175.JPG" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/kendo/2018_Ambassador_Cup/DSC_0176.JPG"><img src="assets/img/kendo/2018_Ambassador_Cup/DSC_0176.JPG" class="img-fluid" alt=""></a></div>
            <!-- <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/kendo/2018_Ambassador_Cup/DSC_0177.JPG"><img src="assets/img/kendo/2018_Ambassador_Cup/DSC_0177.JPG" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/kendo/2018_Ambassador_Cup/DSC_0178.JPG"><img src="assets/img/kendo/2018_Ambassador_Cup/DSC_0178.JPG" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/kendo/2018_Ambassador_Cup/DSC_0179.JPG"><img src="assets/img/kendo/2018_Ambassador_Cup/DSC_0179.JPG" class="img-fluid" alt=""></a></div> -->
        </div>
        <div class="swiper-pagination"></div>
        </div>

    </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
        <h2>Contact</h2>
        <p>Interested? <span>Come and Join Us</span></p>
        </div>

        <div class="tab-header text-center">
            <h3>Saturday</h3>
        </div>
        <div class="mb-3">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.055992998483!2d100.31609731486445!3d5.408442996077318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac3c7a560d8fd%3A0x3e5788a22659ca05!2sSekolah%20Jepun%20Pulau%20Pinang!5e0!3m2!1sen!2smy!4v1677591486656!5m2!1sen!2smy" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->
        
        <div class="tab-header text-center">
            <h3>Sunday</h3>
        </div>
        <div class="mb-3">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.7795634333197!2d100.30393821486463!3d5.450396996047296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac31fc10cce7d%3A0xe179ce2079ace5c6!2sCentrestage%20Academy%20Of%20Performing%20Arts!5e0!3m2!1sen!2smy!4v1677591409932!5m2!1sen!2smy" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

        <!-- <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
                <h3>Our Address</h3>
                <p>Penang Japanese School, 140, Jalan Sungai Pinang, George Town, 10150 George Town, Pulau Pinang</p>
                <strong><p>====================</p></strong>
                <p>Centrestage Academy Of Performing Arts, 3-07, 08, Island Plaza, No. 118, Jalan Tanjong Tokong, Pulau Pinang, 10470 George Town</p>
            </div>
            </div>
        </div> -->
        <!-- End Info Item -->

        <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
                <h3>Contact Us</h3>
                <a href="https://www.facebook.com/penangkendo">Penang Kendo Club Facebook</a>
            </div>
            </div>
        </div><!-- End Info Item -->

        <!-- <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
                <h3>Call Us</h3>
                <p>(+60) 123 456 789</p>
            </div>
            </div>
        </div>End Info Item -->

        <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
                <h3>Training Schedule</h3>
                <div>
                    <strong>Saturday:</strong> 3PM - 5PM; @ Penang Japanese School
                </div>
                <div>
                    <strong>Sunday:</strong> 3.30PM - 5.30PM; @ Centrestage, 3rd Floor, Island Plaza
                </div>
            </div>
            </div>
        </div><!-- End Info Item -->

        </div>

        <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form p-3 p-md-4">
        <div class="row">
            <div class="col-xl-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-xl-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
        </form> -->
        <!--End Contact Form -->

    </div>
</section><!-- End Contact Section -->