<!-- ======= Product Section ======= -->
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
        <h2>Itmes On Sale</h2>
        <p>Check Out Our <span>Quality Kendo Products</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

        <li *ngIf="this.hasProduct('Bogu')" class="nav-item">
            <a class="nav-link" [ngClass]="{'active': this.showAsActive('Bogu'), 'show': this.showAsActive('Bogu')}" data-bs-toggle="tab" data-bs-target="#product-bogu">
                <h4>Bogu</h4>
            </a>
        </li><!-- End tab nav item -->

        <li *ngIf="this.hasProduct('Shinai')" class="nav-item">
            <a class="nav-link" [ngClass]="{'active': this.showAsActive('Shinai'), 'show': this.showAsActive('Shinai')}" data-bs-toggle="tab" data-bs-target="#product-shinai">
                <h4>Shinai</h4>
            </a>
        </li><!-- End tab nav item -->

        <li *ngIf="this.hasProduct('Others')" class="nav-item">
            <a class="nav-link" [ngClass]="{'active': this.showAsActive('Others'), 'show': this.showAsActive('Others')}" data-bs-toggle="tab" data-bs-target="#product-others">
                <h4>Others</h4>
            </a>
        </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

        <div class="tab-pane fade" [ngClass]="{'active': this.showAsActive('Bogu'), 'show': this.showAsActive('Bogu')}" id="product-bogu">

            <div class="tab-header text-center">
            <!-- <p>Type</p>
            <h3>Bogu</h3> -->
            </div>

            <div class="row gy-5">

                <div *ngFor="let product of this.getProductList('Bogu')" class="col-lg-4 menu-item" >
                    <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="{{product.image}}" class="menu-img img-fluid" alt=""></a>
                    <h4>{{product.name}}</h4>
                    <p class="ingredients">
                        Stock Left: {{product.quantity}}
                    </p>
                    <p class="price">
                        RM{{product.cost}}
                    </p>
                </div>

            </div>
        </div><!-- End Bogu Content -->

        <div class="tab-pane fade" [ngClass]="{'active': this.showAsActive('Shinai'), 'show': this.showAsActive('Shinai')}" id="product-shinai">

            <div class="tab-header text-center">
            <!-- <p>Menu</p>
            <h3>Shinai</h3> -->
            </div>

            <div class="row gy-5">

                <div *ngFor="let product of this.getProductList('Shinai')" class="col-lg-4 menu-item" >
                    <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="{{product.image}}" class="menu-img img-fluid" alt=""></a>
                    <h4>{{product.name}}</h4>
                    
                    <p class="ingredients">
                        
                    </p>
                    
                    <p class="price">
                        <button class="btn btn-link px-2"
                            (click)="this.removeCart(product)">
                            <i class="bi bi-dash"></i>
                        </button>

                        RM{{product.cost}}

                        <button class="btn btn-link px-2"
                            (click)="this.addToCart(product)">
                            <i class="bi bi-plus"></i>
                        </button>
                    </p>
                </div>

            </div>
        </div><!-- End Shinai Content -->

        <div class="tab-pane fade" [ngClass]="{'active': this.showAsActive('Others'), 'show': this.showAsActive('Others')}" id="product-others">

            <div class="tab-header text-center">
            <!-- <p>Menu</p>
            <h3>Shinai</h3> -->
            </div>

            <div class="row gy-5">

                <div *ngFor="let product of this.getProductList('Others')" class="col-lg-4 menu-item" >
                    <a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="{{product.image}}" class="menu-img img-fluid" alt=""></a>
                    <h4>{{product.name}}</h4>
                    <p class="ingredients">
                        Stock Left: {{product.quantity}}
                    </p>
                    <p class="price">
                        RM{{product.cost}}
                    </p>
                </div>

            </div>
        </div><!-- End Others Content -->

        </div>

    </div>
</section><!-- End Product Section -->